name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release version"
        required: true
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Release
        uses: redis-field-engineering/redis-release-action@v1
        with:
          version: ${{ github.event.inputs.version }}
          gpg-key-id: ${{ secrets.GPG_KEY_ID }}
          gpg-public-key: ${{ secrets.GPG_PUBLIC_KEY }}
          gpg-secret-key: ${{ secrets.GPG_SECRET_KEY }}
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
          sonatype-username: ${{ secrets.SONATYPE_USERNAME }}
          sonatype-password: ${{ secrets.SONATYPE_PASSWORD }}
          github-token: ${{ secrets.GIT_ACCESS_TOKEN }}
          slack-webhook: ${{ secrets.SLACK_WEBHOOK }}
          docker-username: ${{ secrets.DOCKER_USERNAME }}
          docker-password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Generate Docs
        run: |
          ./gradlew asciidoctor -S

      - name: Publish
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GIT_ACCESS_TOKEN }}
          publish_dir: ./build/docs/asciidoc